body {
  background-color: hotpink;
  color: black;
}

h1 {
  font-size: 2em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: hotpink;
  box-shadow: 2px 2px 4px rgba(153, 16, 217, 0.477);
}

.menu {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  display: block;
}

.has-submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(245, 142, 194);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 12px 12px;
}

.has-submenu:hover .submenu {
  display: block;
}

.submenu a:hover {
  background-color: #eee;
}

.submenu a {
  color: white;
}

img {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

/Kontaktformular/
form {
  max-width: 500px;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  width: 200px;
  height: auto;
}
textarea {
 width: 500px;
 resize: vertical;
}

input,
textarea {
  font-family: inherit;
  font-size: 1rem;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.6;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}


button {
  background-color: violet;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  display: block;
  margin: 1rem auto;
}

button:hover {
  background-color: purple;
}


